.contentContainer {
  height: calc(100% - 30px);
}

.container {
  width: 360px;
}

.buttonsContainer {
  height: 30px;
  padding: 10px 0;
}

.gridContainer {
  height: calc(100% - 30px);
}

.item {
  display: inline-block;
}
